{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

  <link rel="stylesheet" href="{% static 'clientes/style.css' %}">
</head>

<body>

<div class="login-container">
  <div class="login-box">
    <h1>Login de usuário</h1>
    <p class="subtitulo">Sistema de  Gestão de Serviços</p>

    {% if form.errors %}
      <div class="message error">
        Usuário ou senha inválidos
      </div>
    {% endif %}

    <form method="POST">
      {% csrf_token %}

      <div class="campo">
        <label>Usuário</label>
        {{ form.username }}
      </div>

      <div class="campo">
        <label>Senha</label>
        {{ form.password }}
      </div>

      <button type="submit" class="btn btn-primary btn-full">
        Entrar
      </button>
    </form>

  </div>

</div>

</body>
</html>