<h1>{{ titulo }}</h1>

{% load static %}
    <link rel="stylesheet" href="{% static 'clientes/style.css' %}">

{% if messages %}
    {% for message in messages %}
        <div class="message {{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

<form method="POST" novalidate>
    {% csrf_token %}

    <div class="campo {% if form.nome.errors %}erro{% endif %}">
        <label>Nome</label>
        {{ form.nome }}

        {% if form.nome.errors %}
        <span class="erro-texto">
            {{ form.nome.errors.0 }}
        </span>
        {% endif %}
    </div>

    <div class="campo {% if form.telefone.errors %}erro{% endif %}">
        <label>Telefone</label>
        {{ form.telefone }}

        {% if form.telefone.errors %}
        <span class="erro-texto">
            {{ form.telefone.errors.0 }}
        </span>
        {% endif %}
    </div>

    <div class="campo {% if form.email.errors %}erro{% endif %}">
        <label>Email</label>
        {{ form.email }}

        {% if form.email.errors %}
        <span class="erro-texto">
            {{ form.email.errors.0 }}
        </span>
        {% endif %}
    </div>

    <div class="campo {% if form.endereco.errors %}erro{% endif %}">
        <label>Endereço</label>
        {{ form.endereco }}

        {% if form.endereco.errors %}
        <span class="erro-texto">
            {{ form.endereco.errors.0 }}
        </span>
        {% endif %}
    </div>

    <div class="campo {% if form.observacoes.errors %}erro{% endif %}">
        <label>Observações</label>
        {{ form.observacoes }}

        {% if form.observacoes.errors %}
        <span class="erro-texto">
            {{ form.observacoes.errors.0 }}
        </span>
        {% endif %}
    </div>


    <button type="submit">Salvar</button>
    <a href="{% url 'listar_clientes' %}">Cancelar</a>
</form>