<h1>Lista de Clientes</h1>

{% load static %}
<link rel="stylesheet" href="{% static 'clientes/style.css' %}">

{% if messages %}
    {% for message in messages %}
        <div class="message {{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

<div class="topo-lista">
    <a href="{% url 'cadastrar' %}" class="btn btn-primary">+ Novo Cliente</a>

    <form method="GET" class="form-busca">
        <input type="text" name="busca" placeholder="Buscar cliente..." value="{{ busca }}">

        <button type="submit" class="btn btn-secondary">Buscar</button>
    </form>
</div>

<ul class="lista-clientes">
{% for cliente in clientes %}
    <li class="item-cliente">
        <div class="dados-cliente">
            <span class="cliente-nome">{{ cliente.nome }}</span>
            <span class="cliente-telefone">{{cliente.telefone }}</span>
        </div>

        <div class="acoes">
            <a href="{% url 'editar_cliente' cliente.id %}" class="btn-icone">✏️</a>

            <form method="POST" action="{% url 'excluir_cliente' cliente.id %}" class="form-inline">
                {% csrf_token %}
                <button type="submit" class="btn-icone btn-excluir" onclick="return confirm('Tem certeza que deseja excluir?')">
                    🗑️
                </button>
            </form>
        </div>
    </li>
{% empty %}
    <li>Nenhum cliente encontrado</li>
{% endfor %}
</ul>