<h1>Lista de Clientes</h1>

{% load static %}
    <link rel="stylesheet" href="{% static 'clientes/style.css' %}">

{% if messages %}
    {% for message in messages %}
        <div class="message {{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

<div>
    <a href="{% url 'cadastrar' %}">Cadastrar novo cliente</a>
</div>
<ul>
    {% for cliente in clientes %}
        <li>{{ cliente.nome }} - {{cliente.telefone }}
            <a href="{% url 'editar_cliente' cliente.id %}">Editar</a>
            <a href="{% url 'excluir_cliente' cliente.id %}">Excluir</a>
        </li>
    {% endfor %}
</ul>