{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Sistema{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'clientes/style.css' %}">
</head>

<body>
<div class="app-layout">
    <!-- Sidebar -->
    <aside class="Sidebar">
        <div class="brand">
            <h2>Nasu.dev</h2>
            <span>Gestão de Serviços</span>
        </div>

        <nav class="menu">
            <a href="{% url 'listar_clientes' %}">Clientes</a>
            <a href="#">Serviços</a>
            <a href="#">Agendamentos</a>
            <a href="#">Financeiro</a>
        </nav>
    </aside>

    <!-- Principal -->
    <div class="main-area">
        <header class="topbar">
            <div class="page-title">
                {% block page_title%}Painel{% endblock %}
            </div>

            <div class="usuario-area">
                {% if user.is_authenticated %}
                    <span> Olá {{ user.username }}</span>
                    <form method="POST" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-secondary">
                            Sair
                        </button>
                    </form>
                {% endif %}
            </div>
        </header>

        <main class="conteudo">
            {% if messages %}
                {% for message in messages %}
                    <div class="message {{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}

            {% block content %}
            {% endblock %}
        </main>
    </div>
</div>

</body>
</html>